<!DOCTYPE html>

{% extends 'veganation/base.html' %}
{% load static %}

{% block title_block %}
	About
{% endblock %}

<!-- login and signup buttons appear if user isnt logged in --->
{% block login_buttons %}
{% if user.is_authenticated %}
		<div class="topcorner">
		<a href="{% url 'veganation:logout' %}" class="button">Log Out</a>
		<a href="{% url 'veganation:myaccount' %}" class="button">My Account</a>
		</div>
		{% else %}
		<form class="topcorner">
		<div id="container">       
			<a href="{% url 'veganation:login' %}" class="button">Login Here!</a>
			<a href="{% url 'veganation:signup' %}"  class="button">Dont't have an account? Sign up!</a>
			</div>
		</div>
		</form>
{% endif %}
{% endblock %}

<!-- short paragraph informing users what veganation is about-->
{% block body_block %}
<font color = "#ffffe0">
<h2 align = "center">About Veganation!</h2>
<img class="weelogo" src="{% static 'images/green-leaf.png' %}" />
<p align = "center">Welcome to Veganation! If you're an aspiring vegan or just trying something new you've come to the right place!
Here at veganation we offer some fun information about veganism as well as some tips an tricks, you can also find local protests and 
get involved in a cause that you're passionate about! On top of all this, we have a dedicated restaurants page with some of the best vegan food in Glasgow.
If you register with us you can also find a buddy to try out a new vegan restaurant with! Simply click sign up and let's get started!</p>
<p align = "center"> Don't forget to follow us on social media, we're on facebook, twitter and of course instagram!</p>
<font color = "#ffffe0">
<br>
<br>
{% endblock %}