<!DOCTYPE html>

{% extends 'veganation/base.html' %}
{% load static %}
<style>
.wrapper {
	margin: 0 auto;
	width: 110px;
	height: auto;
	position:absolute;
}

</style>
{% block title_block %}
	Protests
{% endblock %}

{% block login_buttons %}
{% if user.is_authenticated %}
		<div class="topcorner">
		<a href="{% url 'veganation:myaccount' %}" class="button">My Account</a> 
		<a href="{% url 'veganation:logout' %}" class="button">Log Out!</a>
		</div>
		{% else %}
		<div class="topcorner">
		      
			<br>
			<a href="{% url 'veganation:login' %}" class="signInButton">Login Here!</a><br>
			<a href="{% url 'veganation:signup' %}" class="signInButton">Dont't have an account? Sign up!</a>
  			
		</div>
		{% endif %}
		</div>
{% endblock %}

{% block body_block %}

<div class = "row">
<div class = "column">
	Hello
</div>
<div class="column">
		
</div>		
</div>
{% endblock %}
