<!DOCTYPE html>
{% extends 'veganation/base.html' %}


{% block title_block %}
    Login
{% endblock %}
<div id = "leftbox">


{% block body_block %}

	<div class="login">    
	<p class="centreHeader">Login to Veganation</p>
	{% if invalid %}
	<p><strong>Your username and password didn't match. Please try again.</strong></p>
	{% endif %}   
		<form id="login_form" method="post" action="{% url 'veganation:login' %}">
			{% csrf_token %}
			<p align="center">Username: <input type="text" name="username" value="" /></p>
		
			<p align="center">Password: <input type="password" name="password" value="" /></p>
			
			<p align="center"><input type="submit" value="Login" class="button" /></p>
			</form>
		<p align="center"><a href="{% url 'veganation:signup' %}" class="button"">Dont't have an account? Sign up!</a></p>
	
			<br>
			</div>
			
		
		</div>
		
{% endblock %}