<!DOCTYPE html>
{% extends 'veganation/base.html' %}

{% load socialaccount %}
{% providers_media_js %}
{% block title_block %}
    Login
{% endblock %}

{% block body_block %}

	<div class="login">    
	<p class="centreHeader">Login to Veganation</p>   
		<form id="login_form" method="post" action=".">
			{% csrf_token %}
			Username: <input type="text" name="username" value="" />
			<br />
			Password: <input type="password" name="password" value="" />
			<br />
			<input type="submit" value="Login" class="button"/>
			</form>
			<br>
			<label class = "centreHeader">Or sign in with:</label></br>
			<a href="{% provider_login_url "facebook" method="js_sdk" %}" class="btn btn-block btn-social btn-facebook" style="background-color:#3b5998;text-align:center">
  			<span class="fa fa-facebook"></span>
               Sign in with Facebook
 					</a>
			</div>
		</div>
		
{% endblock %}