{% extends 'veganation/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title_block %}
	My Account
{% endblock %}

<div id = "leftbox">

{% block login_buttons %}
<div class="topcorner">  
	<a href="{% url 'veganation:logout' %}" class="button">Log Out!</a>
</div>
		
{% endblock %}

{% block body_block %}
<div class = "rowI">


<div class = "columnI">
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.myaccount.image.url }}"width = '240'>
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">First Name: {{ user.firstName }}</p>
          <p class="text-secondary">Last Name: {{ user.myaccount.lastName }}</p>
          <p class="text-secondary"> Email:  {{ user.email }}</p>
          <p class="text-secondary">Gender: {{ user.gender }}</p>
          <p class="text-secondary">Age: {{ user.myaccount.age}}</p>
          <p class="text-secondary">Vegan since{{ user.myaccount.veganSince }}
          <p class="text-secondary">Quote: {{ user.myaccount.quote }}</p>
          <p class="text-secondary">Occupation: {{ user.myaccount.occupation }}</p>
          <p class="text-secondary">City: {{ user.myaccount.city }}</p>
        </div>
      </div>
      <!-- 
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group"></fieldset>
              
              
              {{ u_form|crispy }}
              {{ p_form|crispy }} 


              
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Update</button>
          </div>
      </form>
      -->
    </div>
    </div>
<div class = "columnI">
My restaurants
</div>


</div>
{% endblock %}