{% extends 'veganation/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title_block %}
	My Account
{% endblock %}

<div id = "leftbox">

{% block login_buttons %}
<div class="topcorner">  
	<a href="{% url 'veganation:logout' %}" class="button">Log Out!</a>
</div>
		
{% endblock %}

{% block body_block %}
<div class = "rowI">


<div class = "columnI">
    <div class="content-section">
      <div class="media">

        <img class="rounded-circle account-img" src="{{ user.myaccount.image.url }}"width = '240'>

        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          
          <p class="text-secondary"> Email:  {{ user.email }}</p>
          
        </div>
      </div>
      
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Profile Info</legend>
            {{ u_form|crispy }}
            {{ p_form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Update</button>
        </div>
    </form>
  </div>
</div>

<div class = "columnI">










<font color = "#ffffe0">
<h2 align = "center">The restaurants I chose</h2>

<p align = "center">{% for userBuddy_location in userBuddy.location_set.all %}
  {{ userBuddy_location.rest }}
{% endfor %} </p>

<div class="form-group"> </div>
<font color = "#ffffe0">
<br>
<br>




</div>
{% endblock %}