<!DOCTYPE html>
{% extends 'veganation/base.html' %}

{% block title_block %}
    Reset Password
{% endblock %}
<div id = "leftbox">

{% block body_block %}


{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            
                <p style="text-align:center">Reset Password</p>
                
                <center> {{ form|crispy }}</center>
            
            <div class="form-group">
                <center>  <button class="btn btn-outline-info" type="submit">Request Password Reset</button> </center>
            </div>
        </form>
    </div>
{% endblock content %}
{% endblock %}