<!DOCTYPE html>

{% extends 'veganation/base.html' %}
{% load static %}

{% block title_block %}
	Protests
{% endblock %}


{% block body_block %}
<style>
#rightbox
{
 margin-right: 5px;
}
.fb-page{
	margin-right=5px;
	background-color: black;
  color: black;
}
</style>
<div id = "rightbox">
	<div id="fb-root"></div>
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0"></script>
	<div class="fb-page"
		data-href="https://www.facebook.com/VegaNation-102804628030447"
		data-tabs="events"
		data-width="500"
		data-height=""
		data-small-header="true"
		data-adapt-container-width="false"
		data-hide-cover="true"
		data-show-facepile="true"><blockquote
		cite="https://www.facebook.com/VegaNation-102804628030447"
		class="fb-xfbml-parse-ignore">
		<a href="https://www.facebook.com/VegaNation-102804628030447">VegaNation</a> </blockquote>
	</div>

</div>



<div id = "leftbox">
calendar
</div>
{% endblock %}
