<!DOCTYPE html>

{% extends 'veganation/base.html' %}
{% load static %}
{% load ratings %}

{% block title_block %}
    Restaurants
{% endblock %}


{% block body_block %}
<style>
    table {
        height: 100%;
        width: 100%;
        border-collapse: collapse;
        text-align : left;
    }

    
</style>
<script src="https://maps.google.com/maps/api/js"></script>
<div id = "rightbox">
    <table>

        Choose a restaurant you wanna try with someone and we will pair you up in accordance with your preferences.

      <tr>

        <td><img src="{% static 'images/vandv.jpeg' %}" style="width:100px" /></td>

        <td><a href="#" onclick="myClick(0);">V&V Café</a></br>


            Breakfast, desserts | ££</td>

        <td>Choose</td>

      </tr>

      <tr>

        <td><img src="{% static 'images/the78.jpeg' %}" style="width:100px" /></td>

        <td><a href="#" onclick="myClick(1);">The 78</a></br>

        Late-night food | ££</td>

        <td>Choose</td>

      </tr>

      <tr>

        <td><img src="{% static 'images/seren.jpeg' %}" style="width:100px" /></td>

        <td><a href="#" onclick="myClick(2);">Serenity Now</a></br>

        Brunch, lunch | ££</td>

        <td>Choose</td>

      </tr>

      <tr>

        <td><img src="{% static 'images/glas.jpeg' %}" style="width:100px" /></td>

        <td><a href="#" onclick="myClick(3);">The Glasvegan</a></br>

        Fast food | £</td></td>

        <td>Choose</td>

      </tr>

      <tr>

        <td><img src="{% static 'images/picnic.jpeg' %}" style="width:100px" /></td>

        <td><a href="#" onclick="myClick(4);">Picnic</a></br>

        Health-conscious | ££</td>

        <td>Choose</td>

      </tr>

      <tr>

        <td><img src="{% static 'images/puti.jpeg' %}" style="width:100px" /></td>

        <td><a href="#" onclick="myClick(5);">Puti Vegan Cafe</a></br>

        Asian | ££</td>

        <td>Choose</td>

      </tr>

      <tr>

        <td><img src="{% static 'images/hug.jpeg' %}" style="width:100px" /></td>

        <td><a href="#" onclick="myClick(6);">Hug and Pint</a></br>

        Restaurant and bar | ££</td>

        <td>Choose</td>

      </tr>

      <tr>

        <td><img src="{% static 'images/mono.jpeg' %}" style="width:100px" /></td>

        <td><a href="#" onclick="myClick(7);">Mono</a></br>

        Late-night food | ££</td>

        <td>Choose</td>

      </tr>

    </table>

    </div>



<div id = "leftbox">

    <div id="map"></div>

    <div id="markers"></div>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script type="text/javascript">
            var markers = [];
        function initialize() {
            
                var mapOptions = {
                    zoom: 13,
                    center: new google.maps.LatLng(55.868832, -4.266674),
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                }
                var map = new google.maps.Map(document.getElementById("googlemap"), mapOptions);
        
        
                var locations = [
                    ['<div id="content">'+
                    '<div id="siteNotice">'+
                    '</div>'+
                    '<h1 id="firstHeading" class="firstHeading">V&V Café</h1>'+
                    '<div id="bodyContent">'+
                    '<p><b>Address</b>: 481 Great Western Road, G12 8HL Glasgow</br>'+ '<a href="www.thevandv.com" target="_blank">'+
                    'Website</a>'+' | '+
                    '<a href="https://www.facebook.com/thevandvcafe/" target="_blank">'+
                    'Facebook</a>'+' | '+
                    '<a href="https://www.instagram.com/thevandvcafe/?hl=en" target="_blank">'+
                    'Instagram</a>'+
                    '</div>'+
                     '</div>', 55.8752869, -4.28183],
                    ['<div id="content">'+
                    '<div id="siteNotice">'+
                    '</div>'+
                    '<h1 id="firstHeading" class="firstHeading">The 78</h1>'+
                    '<div id="bodyContent">'+
                    '<p><b>Address</b>: 10-14 Kelvinhaugh Street, G3 8NU Glasgow</br>'+ '<a href="https://www.the78barandkitchen.com/" target="_blank">'+
                    'Website</a>'+' | '+
                    '<a href="https://www.facebook.com/the78barandkitchen/" target="_blank">'+
                    'Facebook</a>'+' | '+
                    '<a href="https://www.instagram.com/the78barandkitchen/?hl=en" target="_blank">'+
                    'Instagram</a>'+
                    '</div>'+
                    '</div>',55.86506, -4.2868],
                    ['<div id="content">'+
                    '<div id="siteNotice">'+
                    '</div>'+
                    '<h1 id="firstHeading" class="firstHeading">Serenity Now</h1>'+
                    '<div id="bodyContent">'+
                    '<p><b>Address</b>: 380 Great Western Road, G4 9HT Glasgow</br>'+ '<a href="https://www.serenitynowcafe.com/" target="_blank">'+
                    'Website</a>'+' | '+
                    '<a href="http://www.facebook.com/serenitynowcafe" target="_blank">'+
                    'Facebook</a>'+' | '+
                    '<a href="https://instagram.com/serenitynowcafe" target="_blank">'+
                    'Instagram</a>'+
                    '</div>'+
                    '</div>',55.873813, -4.276499],
                    ['<div id="content">'+
                    '<div id="siteNotice">'+
                    '</div>'+
                    '<h1 id="firstHeading" class="firstHeading">The Glasvegan</h1>'+
                    '<div id="bodyContent">'+
                    '<p><b>Address</b>: 50 St Enoch Square, G1 4DH Glasgow</br>'+ '<a href="https://www.facebook.com/theglasvegan" target="_blank">'+
                    'Facebook</a>'+' | '+
                    '<a href="https://www.instagram.com/theglasveganfastfood/?hl=en" target="_blank">'+
                    'Instagram</a>'+
                    '</div>'+
                    '</div>',55.857195, -4.255798],
                    ['<div id="content">'+
                    '<div id="siteNotice">'+
                    '</div>'+
                    '<h1 id="firstHeading" class="firstHeading">Picnic</h1>'+
                    '<div id="bodyContent">'+
                    '<p><b>Address</b>: 103 Ingram St, G1 1DX Glasgow</br>'+ '<a href="http://picnic-cafe.co.uk/" target="_blank">'+
                    'Website</a>'+' | '+
                    '<a href="https://www.facebook.com/picnic.glasgow" target="_blank">'+
                    'Facebook</a>'+' | '+
                    '<a href="https://www.instagram.com/picnic.glasgow/" target="_blank">'+
                    'Instagram</a>'+
                    '</div>'+
                    '</div>',55.859436, -4.245578],
                    ['<div id="content">'+
                    '<div id="siteNotice">'+
                    '</div>'+
                    '<h1 id="firstHeading" class="firstHeading">Puti Vegan Cafe</h1>'+
                    '<div id="bodyContent">'+
                    '<p><b>Address</b>: 65 Cambridge Street, G11 5JY Glasgow</br>'+ '<a href="https://putivegancafe.business.site/?utm_source=gmb&utm_medium=referral" target="_blank">'+
                    'Website</a>'+' | '+
                    '<a href="https://www.facebook.com/PutiVeganCafe/" target="_blank">'+
                    'Facebook</a>'+' | '+
                    '<a href="https://www.instagram.com/putivegan/" target="_blank">'+
                    'Instagram</a>'+
                    '</div>'+
                    '</div>',55.866367, -4.259962],
                    ['<div id="content">'+
                    '<div id="siteNotice">'+
                    '</div>'+
                    '<h1 id="firstHeading" class="firstHeading">The Hug and Pint</h1>'+
                    '<div id="bodyContent">'+
                    '<p><b>Address</b>: 171 Great Western Road, G4 9AW Glasgow</br>'+ '<a href="https://www.thehugandpint.com/" target="_blank">'+
                    'Website</a>'+' | '+
                    '<a href="https://facebook.com/TheHugandPint" target="_blank">'+
                    'Facebook</a>'+' | '+
                    '<a href="https://instagram.com/thehugandpint" target="_blank">'+
                    'Instagram</a>'+
                    '</div>'+
                    '</div>',55.872208, -4.272356],
                    ['<div id="content">'+
                    '<div id="siteNotice">'+
                    '</div>'+
                    '<h1 id="firstHeading" class="firstHeading">Mono</h1>'+
                    '<div id="bodyContent">'+
                    '<p><b>Address</b>: 12 Kings Court, G1 5RB Glasgow</br>'+ '<a href="http://www.monocafebar.com/" target="_blank">'+
                    'Website</a>'+' | '+
                    '<a href="https://www.facebook.com/stevenmcseveney2" target="_blank">'+
                    'Facebook</a>'+' | '+
                    '<a href="https://www.instagram.com/monoglasgow/?hl=en" target="_blank">'+
                    'Instagram</a>'+
                    '</div>'+
                    '</div>',55.855661, -4.246107]
                ];
            
        
                var marker, i;
                var infowindow = new google.maps.InfoWindow();
        
        
                google.maps.event.addListener(map, 'click', function() {
                    infowindow.close();
                });
        
        
                for (i = 0; i < locations.length; i++) {
                    marker = new google.maps.Marker({
                        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                        map: map,
                        icon: locations[i][3]
                    });
        
                    google.maps.event.addListener(marker, 'click', (function(marker, i) {
                        return function() {
                            map.setZoom(14);
                            map.setCenter(marker.getPosition());
                            infowindow.setContent(locations[i][0]);
                            infowindow.open(map, marker);
                        }
                    })(marker, i));
            
                    markers.push(marker);
                }
        
            }
            google.maps.event.addDomListener(window, 'load', initialize);
            
            function myClick(id){
                google.maps.event.trigger(markers[id], 'click');
            }
    </script>
    
    <script async defer

        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAoNRWUpgV13IJT_BZzCd9nIzHRylESdLU&callback=initMap">

    

    </script>
    <div id="googlemap" style="width: 100%; height: 100%; border-radius: 5px; color: black;"></div>
         </div>
{% endblock %}
