<!DOCTYPE html>
{% extends 'veganation/base.html' %}
{% load static %}

{% block title_block %}
	Sign Up
{% endblock %}

{% block login_buttons %}
	<div class="topcorner">
		<a href="{% url 'veganation:login' %}" class="button">Already have an account? Login Here!</a>
	</div>
{% endblock %}


{% block body_block %}
<div class = "signup">
{% if registered %}
Veganation says: <strong>thank you for registering!</strong>
<a href="{% url 'veganation:index' %}">Return to the homepage.</a><br />
{% else %}

<h2>Sign up for Veganation!</h2>
<form id="user_form" method="post" action="{%url 'veganation:signup'%}" enctype="multipart/form-data">
{% csrf_token %}
{{ user_form.as_p }}
{{ profile_form.as_p}}

<input type="submit" name="submit" value="Sign Up" />
</form>
<p><strong>--OR--</strong></p>
<a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
{% endif %}
</div>
{% endblock %}