<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		
			.centre {
  				display: block;
 				margin-left: auto;
  				margin-right: auto;
  				width: 15%;
			}
			h1{
				text-align:center;
			}
			
			.nav{
    			list-style:none;
    			margin:0;
    			padding:0;
    			text-align:center;
			}
			.nav li{
   				display:inline;
			}
			.nav a{
    			display:inline-block;
    			padding:10px;
			}
			
			.fa {
  				padding: 10px;
  				font-size: 20px;
  				width: 20px;
  				text-align: center;
  				text-decoration: none;
  				margin: 5px 2px;
  				border-radius: 50%;
			}
			
			.fa-facebook {
  				background: #3B5998;
  				color: white;
			}

			.fa-twitter {
  				background: #55ACEE;
  				color: white;
			}
			
			.fa-instagram {
  				background: #125688;
  				color: white;
			}
			
			.topcorner{
   				position:absolute;
   				top:10px;
   				right:10px;
  			}
  			
  			.container {
    			position: relative;
    			top: 50%;
    			height: 100px;
    			text-align: center;
			}
			
			#rightbox{ 
                float:right; 
                width:45%; 
                height:300px;
                padding: 10px;
  				border: 1px solid gray; 
  				display: inline-block;
  				overflow:auto;
            }
            
            #leftbox { 
                float:left;  
                width:45%; 
                height:300px; 
                padding: 10px;
  				border: 1px solid gray;
  				display: inline-block;
            }
            
            hr {
    			margin: 20px 0;
    			border: 1px solid #f00;
			}
			
			.alignLeft{
				float:left;
			}
			
			.alignRight{
				float:right;
			}
			
			.boxed{
				border: 1px solid black;
			}
			
		